{% extends 'index.html' %}
{% load static %}

{% block title %}Security{% endblock title %}

{% block content %}
<br><br><br><br>
<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-lg-4 mb-4">
      <div class="text-center">
        <img src="{% static 'images/Scanning qr.jpg' %}" alt="Leave image" class="rounded mx-auto d-block" width="360" height="250">
      </div>
      <div class="text-center">
        <a href="{% url 'qr_code_scanner' %}">
          <button type="button" class="btn btn-primary mt-3">
            Scan QR Code
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
